@import url('https://fonts.googleapis.com/css2?family=Signika&family=Skranji:wght@400;700&display=swap');

// main colors:
$primary-color: #EA5959;
$secondary-color: #C8FF08;
$danger-color: #D10B0B;
$primary-button-color: #0B9B6B;
$secondary-button-color: #0170C9;
$danger-button-color: #DA0606;

// font family:
$primary-font: 'Skranji', cursive;
$secondary-font: 'Signika', sans-serif;